@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}

body {
    background-color: #d8d3ec;
    font-family: Montserrat, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    margin: 0;
}

h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}
.card-container {
    background-color: #006958;
    border-radius: 5px;
    box-shadow: 0px 10px 20px -10px rgba(0, 51, 31, 0.75);
    color: #ffffff;
    padding-top: 30px;
    position: relative;
    width: 300px;
    max-width: 100%;
    text-align: center;
}

.card-container .round {
    border: 1px solid #e9ff6e;
    border-radius: 50%;
    padding: 7px;
}

.category {
    background-color: #1f1a36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}

.category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.category ul li {
    border: 1px solid #2d2747;
    border-radius: 2px;
    display: inline-block;
    font-size: 12px;
    margin: 0 7px 7px 0;
    padding: 7px;
}